@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav__ul {
    @apply flex justify-between w-40 m-auto;
  }

  .button-link {
    @apply bg-slate-100 hover:bg-slate-200 px-7 py-1 border-2 border-solid border-black;
  }

  .center-everything {
    @apply h-screen grid place-content-center place-items-center;
  }

  .icon {
    @apply text-xl md:text-4xl;
  }
}

@font-face {
  font-family: "poppins";
  src: url("./assets/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "poppins-semibold";
  src: url("./assets/fonts/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "waterbrush";
  src: url("./assets/fonts/WaterBrush-Regular.ttf");
}
