@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav__ul {
    @apply flex justify-around w-80 m-auto;
  }

  .button-link {
    @apply px-7 py-2 border-2 border-solid border-black;
  }

  .center-everything {
    @apply min-h-screen h-fit grid place-content-center place-items-center;
  }

  .grid-center {
    @apply grid place-items-center;
  }

  .icon {
    @apply text-xl md:text-4xl mx-auto;
  }

  .secondary-text {
    @apply text-emerald-500;
  }
}

@font-face {
  font-family: "poppins";
  src: url("./assets/fonts/Poppins-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "poppins-semibold";
  src: url("./assets/fonts/Poppins-SemiBold.ttf");
  font-display: swap;
}

@font-face {
  font-family: "waterbrush";
  src: url("./assets/fonts/WaterBrush-Regular.ttf");
  font-display: swap;
}
