/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
	scrollbar-width: auto;
	scrollbar-color: rgb(28 25 23 / 1) #ededed;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 16px;
}

*::-webkit-scrollbar-track {
	background: #ededed;
}

*::-webkit-scrollbar-thumb {
	background-color: rgb(28 25 23 / 1);
	border-radius: 0px;
	border: 2px solid #ffffff;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.main-content {
		@apply min-h-screen 
    h-fit 
    m-auto
    scroll-smooth;
	}

	.center-container {
		@apply 2xl:max-w-[75%]
    mx-auto;
	}

	.about-me-container {
		@apply mx-auto
    sm:max-w-[80%]
    2xl:max-w-7xl
    h-fit
    p-5 
    z-[1] 
    animate-[fadeInTop_0.5s_ease-in];
	}

	.nav__ul {
		@apply flex 
		2xl:w-[12.5%] 
		m-auto
		w-fit 
		max-h-screen 
		flex-col 
		fixed 
		right-1 
		h-screen 
		place-content-center
    animate-[fadeInTop_0.3s_ease-in];
	}

	.nav-icon-container {
		@apply inline-block 
		hover:underline 
		2xl:text-[1rem]
		cursor-pointer
		shadow-2xl
		p-2
		w-fit
		max-w-[5rem] 
		min-w-[5rem]
		max-h-[4rem] 
		min-h-[4rem]
		bg-white
		m-2
		rounded-lg;
	}

	.nav-icon {
		@apply m-auto;
	}

	.button-link {
		@apply px-7 py-2 border-2 border-solid border-black;
	}

	.bg-blob {
		@apply before:bg-[url('./assets/images/blob.svg')] before:bg-no-repeat before:bg-contain before:bg-right sm:before:opacity-0
    before:inset-0 before:absolute relative sm:before:animate-[fadeIn_1s_1s_ease-in_forwards];
	}

	.center-everything {
		@apply grid place-content-center place-items-center;
	}

	.height-full {
		@apply min-h-screen h-fit;
	}

	.grid-center {
		@apply grid place-items-center;
	}

	.icon {
		@apply text-xl md:text-4xl mx-auto;
	}

	.icon-container {
		@apply p-2 min-w-[89px];
	}

	.text {
		@apply sm:text-xl;
	}

	.primary-text {
		@apply text-stone-900;
	}

	.secondary-text {
		@apply text-stone-700;
	}

	.heading {
		@apply text-4xl md:text-6xl 2xl:text-7xl;
	}

	.heading2 {
		@apply text-3xl 
    md:text-5xl 
    p-4 
    primary-text;
	}

	.heading3 {
		@apply text-2xl 
    md:text-3xl 
    p-4 
    primary-text;
	}

	.techstack-container {
		@apply w-fit max-w-lg 2xl:max-w-screen-xl p-5 mx-auto flex justify-around flex-wrap;
	}
}

@font-face {
	font-family: 'poppins';
	src: url('./assets/fonts/Poppins-Regular.ttf');
	font-display: swap;
}

@font-face {
	font-family: 'poppins-semibold';
	src: url('./assets/fonts/Poppins-SemiBold.ttf');
	font-display: swap;
}

@font-face {
	font-family: 'waterbrush';
	src: url('./assets/fonts/WaterBrush-Regular.ttf');
	font-display: swap;
}
